@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {

    /* Color */
    --white: #fff;
    --light: #f2f2f2;
    --light-1: #dadada;
    --grey: #686868;
    --dark: #0d0d0d;
    --dark-1:#0c0c0c; 
    --secondery: #f2c288;
    --secondery-1: #f3c894;


    /* Font */
    --font: "Red Hat Display", sans-serif;
    --smallX: 0.75em;
    --small: 0.875em;
    --paragrafo: 1em;
    --h6: 1.25em;
    --h5: 1.4375em;
    --h4: 1.75em;
    --h3: 2.0625em;
    --h2: 2.5em;
    --h1: 2.9375em;

    --font-bold: bold;

    /* Padding */
    --padding-mobile: 1em;
    --padding-desktop: 1.25em;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

body,
html {
    font-family: var(--font);
    font-size: var(--paragrafo);
    background: var(--dark);
}

#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
}

#header .logo .img-logo {
    width: 160px;
    height: 100%;
}

#header .burger, .bar {
    position: relative;
} 

#header .burger {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
}

#header .burger .hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 100%;
    height: 100%;
}

#header .burger .hamburguer .bar {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    border: none;
    background: var(--light);
}

#header .nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: auto;
}

#header .nav.active {
    visibility: visible;
}

#header #nav #menu {
    width: 100%;
    height: 200px;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: var(--padding-mobile) 0;
}

#header #nav #menu li {
    list-style-type: none;
}

#header #nav #menu li a {
    color: var(--secondery);
    text-transform: uppercase;
    
}

/* #header #nav .layer-blur {
    visibility: hidden;
    position: absolute;
    z-index: 999;
    background-color: blue;
    /* background-color: #0d0d0d97;
    width: 100%;
    height: 100%;
    overflow: auto;
} */

#header-main .lancamentos {
    background-color: var(--light);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: var(--font-bold);
}

#header-main .img-apresentacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 150px;
    gap: 5px;
}

#header-main .img-apresentacao .img-1 {
    background: url(../recursos/Screenshot_1.png)no-repeat center / contain;
    width: 100%;
    height: 100%;
}

#header-main .img-apresentacao .img-2 {
    background: url(../recursos/Screenshot_2.png)no-repeat center / contain;
    width: 100%;
    height: 100%;
}