@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {

    /* Color */
    --white: #fff;
    --light: #f2f2f2;
    --light-1: #dadada;
    --grey: #686868;
    --dark: #0d0d0d;
    --dark-1:#0c0c0c; 
    --secondery: #f2c288;
    --secondery-1: #f3c894;


    /* Font */
    --font: "Red Hat Display", sans-serif;
    --smallX: 0.75em;
    --small: 0.875em;
    --paragrafo: 1em;
    --h6: 1.25em;
    --h5: 1.4375em;
    --h4: 1.75em;
    --h3: 2.0625em;
    --h2: 2.5em;
    --h1: 2.9375em;

    --font-bold: bold;

    /* Padding */
    --padding-mobile: 1em;
    --padding-tablet: 3.125em;
    --padding-desktop: 1.25em;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

body,
html {
    font-family: var(--font);
    font-size: var(--paragrafo);
    background: var(--dark);
}

#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
    position: fixed;
    background: var(--dark);
    z-index: 999;
    top: -5px;
}

#header .logo {
    width: 160px;
    height: 100%;
}

#header .logo .logo-link {
    display: block;
    background: url(../recursos/imagens/logo-transparente-light.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
}


#header .burger, .bar {
    position: relative;
} 

#header .burger {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#header .burger .hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 100%;
}

#header .burger .hamburguer .bar {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    border: none;
    background: var(--light);
    transition: all ease-in-out .5s;
}

#header .burger .hamburguer.open #bar1{
    transform: rotate(45deg) translate(7px, 7px);
}

#header .burger .hamburguer.open #bar2{
    background: transparent;    
}

#header .burger .hamburguer.open #bar3{
    transform: rotate(-45deg) translate(6px, -5px);
}

#header .nav {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    height: 0%;
    visibility: hidden;
    overflow: auto;
    transition: all ease-in-out .5s;
}

#header .nav.active {
    position: fixed;
    visibility: visible;
    overflow: hidden;
    z-index: 999;
    height: 100%;
}

#header #nav #menu {
    width: 100%;
    height: 200px;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: var(--padding-mobile) 0;
}

#header #nav #menu li {
    list-style-type: none;
}

#header #nav #menu li a {
    color: var(--secondery);
    text-transform: uppercase;
    
}

#header .nav .layer-blur {
    visibility: hidden;
    position: absolute;
    z-index: 999;
    background-color: #0d0d0d97;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#header .nav.active .layer-blur {
    visibility: visible;
}

#header-main .lancamentos {
    background-color: var(--light);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: var(--font-bold);
}

#header-main .img-apresentacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 148px;
    max-height: 250px;
    gap: 5px;
}

#header-main .img-apresentacao .img-1 {
    background: url(../recursos/Screenshot_1.png)no-repeat center / cover;
    width: 100%;
    height: 100%;
}

#header-main .img-apresentacao .img-2 {
    background: url(../recursos/Screenshot_2.png)no-repeat center / cover;
    width: 100%;
    height: 100%;
}

#header #nav #menu li a,
#footer .nav-footer li a {
    transition: all ease-in-out .5s;
}

#header #nav #menu li a:hover,
#footer .nav-footer li a:hover {
    color: #cc8f45;
}

main {
    padding-top: 76px;
}

.descricao {
    border: 1px solid var(--secondery);
    border-radius: 8px;
    margin: 30px var(--padding-mobile);
    padding: 20px 50px;
    color: var(--secondery);
}

.descricao .renda {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.separetade p {
    border: 1px solid var(--secondery);
    width: 95px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondery);
    border-radius: 8px;
    margin-left: var(--padding-mobile);
    margin-top: 60px;
    font-size: var(--small);
}

.veja-mais .img-ilustrated {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 290px);
    padding: var(--padding-mobile);
    gap: 20px;
}

.saiba-mais {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2c28895;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    opacity: 0;
    font-size: var(--h6);
    font-weight: bold;
    color: #0c0c0cb5;
    transition: all ease-in-out .5s;
}

.saiba-mais:hover {
    opacity: 1;
}

.veja-mais .img-ilustrated .ilustrated-1 {
    position: relative;
    background: url(../recursos/Screenshot_3.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
}
.veja-mais .img-ilustrated .ilustrated-2 {
    position: relative;
    background: url(../recursos/Screenshot_4.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
}
.veja-mais .img-ilustrated .ilustrated-3 {
    position: relative;
    background: url(../recursos/Screenshot_5.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
}

.sobre {
    padding: var(--padding-mobile);
    margin-bottom: 55px;   
}

.sobre .sobre-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--padding-mobile);
}

.sobre .img-sousa {
    background: url(../recursos/foto-transparente-reduzida.png)no-repeat center / cover, linear-gradient(to bottom, #c7bbbb0f, #37506a59 100%);
    width: 194px;
    height: 264px;
    border-radius: 8px;
    margin: 25px 0;
}

.sobre .sobre-description .text-sobre {
    color: var(--light-1);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sobre .sobre-description .text-sobre h4 {
    font-size: var(--paragrafo);
    font-weight: none;
}

.sobre .sobre-description .text-sobre p {
    font-size: var(--small);
}

#footer {
    background: #050505;
    width: 100%;
    padding-bottom: 55px;
}

#footer .logo .logo-footer {
    background: url(../recursos/imagens/logo-transparente-light.png) no-repeat center / cover;
    width: 210px;
    height: 130px;
}

#footer .nav-footer {
    border-top: 1px solid var(--grey);
}

#footer .logo,
#footer .nav-footer,
#footer .social-media,
#footer .direitos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .nav-footer {
    padding: 25px 0;
    gap: 15px;
}

#footer .nav-footer li {
    list-style-type: none;
}

#footer .nav-footer li a {
    color: var(--secondery);
    text-transform: uppercase;
    font-size: var(--smallX);
    letter-spacing: 2px;
}

#footer .direitos .social-media {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 35px 0;
    order: 1;
}

#footer .direitos .social-media a i {
    color: var(--secondery);
    font-size: 1.5em;
    transition: all ease-in-out .5s;
}

#footer .direitos .social-media a i:hover {
    color: #956932;
}

#footer .direitos,
#footer .direitos a {
    color: var(--secondery);
    font-size: var(--small);
}

#footer .direitos .copyright {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    order: 1;
}

@media (min-width: 767px) {
    #header {
        top: -6px;
        padding: 0 var(--padding-tablet);
        height: 110px;
    }

    #header .logo{
        width: 250px;
        height: 100%;
    }

    #header .nav {
        top: 103px;
    }

    #header #nav #menu {
        height: 350px;
        gap: 25px;
        padding: var(--padding-tablet) 0;
    }

    #header #nav #menu li a {
        color: var(--secondery);
        text-transform: uppercase;
        font-size: var(--h6);
    }

    main {
        padding-top: 106px;
    }

    .veja-mais .img-ilustrated {
        display: grid;
        grid-template-columns: 1fr repeat(1, 290px);
        grid-template-rows: repeat(2, 168px);
        padding: var(--padding-mobile);
        gap: 20px;
    }

    .veja-mais .img-ilustrated a:nth-child(1) {
        grid-row: span 2;
    }

    #header-main .img-apresentacao {
        height: 260px;
    }

    #header-main .lancamentos {
        padding: 30px 0;
        font-size: var(--h4);
    }

    .descricao {
        padding: 26px 60px;
        font-size: var(--h5);
    }

    .separetade p {
        width: 130px;
        height: 49px;
        font-size: var(--h6);
    }
    .sobre .img-sousa {
        width: 301px;
        height: 408px;
    }

    .sobre .sobre-description .text-sobre {
        padding: var(--padding-mobile);
    }

    .sobre .sobre-description .text-sobre h4 {
        font-size: var(--h4);
        font-weight: 100;
    }

    .sobre .sobre-description .text-sobre p {
        font-size: var(--h6);
    }

    #footer .logo .logo-footer {
        background: url(../recursos/imagens/logo-transparente-light.png) no-repeat center / cover;
        width: 250px;
        height: 140px;
    }

    #footer .nav-footer li a {
        font-size: var(--paragrafo);
    }

    #footer .direitos, #footer .direitos a {
        font-size: var(--paragrafo);
    }
}

@media screen and (min-width: 1020px) {
    #header {
        padding: 0 50px;
        position: static;
    }

    #header .burger {
        display: none;
    }

    #header .nav {
        position: static;
        height: auto;
        visibility: visible;
        display: flex;
        justify-content: end;
    }

    #header #nav #menu {
        width: 71%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    #header #nav #menu li a {
        font-size: var(--small);
    }
    

    #header-main .img-apresentacao {
        height: 377px;
        max-height: 500px;
    }

    main {
        max-width: 1400px;
        margin: auto;
        padding-top: 0px;
    }

    .veja-mais .img-ilustrated {
        grid-template-columns: 1fr repeat(1, 333px);
        grid-template-rows: repeat(2, 230px);
    }

    .sobre .sobre-description {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .sobre .img-sousa {
        width: 34%;
        height: 564px;
    }

    .sobre .sobre-description .text-sobre {
        padding: var(--padding-mobile);
        width: 65%;
    }

    #footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 55px var(--padding-tablet);
    }

    #footer .nav-footer {
        border-top: none;
    }

    #footer .logo, 
    #footer .nav-footer, 
    #footer .social-media, 
    #footer .direitos {
        flex-direction: row;
    }

    #footer .direitos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #footer .direitos .social-media {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin: 35px 0;
        order: 3;
    }

    #footer .direitos .copyright {
        display: grid;
        gap: 10px;
    }
    
    
}

@media screen and (min-width: 1199.98px) {
     #header {
        padding: 0 80px;
        position: static;
    }
}

@media screen and (min-width: 1399.98px) {
    #header #nav #menu {
        width: 50%;
    }

    #header-main .img-apresentacao {
        height: 500px;
        max-height: 500px;
    }

    .veja-mais .img-ilustrated {
        grid-template-columns: 1fr repeat(1, 475px);
        grid-template-rows: repeat(2, 293px);
    }

    .sobre .img-sousa {
        width: 30%;
        height: 569px;
    }
}

/* 

Notebook


Descktop
@media (min-width: 1400px){
  
} */